In [1]:
import pandas as pd
import numpy as np

from ast import literal_eval # to convert array string to array
from IPython.display import clear_output # to clear the large outputs

from rouge import Rouge

In [2]:
df = pd.read_csv('../features/Generated Summary.csv').dropna()
df.head()

,File Number,Generated Summary,Given Summary
0,0,That scene and her performance will be discuss...,Barbie Movie Review: Ryan Gosling shines the b...
1,2,View this post on InstagramA post shared by Vi...,Kartik Aaryan was spotted flying in economy cl...
2,3,The government should get the matter investiga...,Abbasi had said that it was important to make ...
3,4,You can come to enjoy the natural beauty of th...,Flash floods and landslides caused by heavy do...
6,8,The NTCA has been expanding tiger habitats loc...,The latest estimate is said to cover areas of ...

## Similarity using rouge score

In [3]:
rouge = Rouge()

def similarity_using_rouge(sentance1, sentance2):
    rouge_scores = rouge.get_scores(sentance1, sentance2)[0]
    rouge_1 = rouge_scores['rouge-1']
    rouge_2 = rouge_scores['rouge-2']
    rouge_l = rouge_scores['rouge-l']
    return rouge_1, rouge_2, rouge_l

# Save the score results

In [4]:
rouge_df = pd.DataFrame(columns=['rouge-1 r', 'rouge-1 p', 'rouge-1 f', 'rouge-2 r', 'rouge-2 p', 'rouge-2 f', 'rouge-l r', 'rouge-l p', 'rouge-l f'])

In [5]:
rouge_1_r, rouge_1_p, rouge_1_f = 0, 0, 0
rouge_2_r, rouge_2_p, rouge_2_f = 0, 0, 0
rouge_l_r, rouge_l_p, rouge_l_f = 0, 0, 0

for row in df.values:
    # print(row[0], row[1])
    rouge_1, rouge_2, rouge_l = similarity_using_rouge(row[1], row[2])
    rouge_1_r += rouge_1['r'] / len(df.values)
    rouge_1_p += rouge_1['p'] / len(df.values)
    rouge_1_f += rouge_1['f'] / len(df.values)
    rouge_2_r += rouge_2['r'] / len(df.values)
    rouge_2_p += rouge_2['p'] / len(df.values)
    rouge_2_f += rouge_2['f'] / len(df.values)
    rouge_l_r += rouge_l['r'] / len(df.values)
    rouge_l_p += rouge_l['p'] / len(df.values)
    rouge_l_f += rouge_l['f'] / len(df.values)

In [6]:
print("Rouge scores: ")
print("Rouge-1: ")
print(f"r: {rouge_1_r}\np: {rouge_1_p}\nf: {rouge_1_f}\n")
print("Rouge-2: ")
print(f"r: {rouge_2_r}\np: {rouge_2_p}\nf: {rouge_2_f}\n")
print("Rouge-l: ")
print(f"r: {rouge_l_r}\np: {rouge_l_p}\nf: {rouge_l_f}\n")

Rouge scores:
Rouge-1:
r: 0.2324949563522975
p: 0.1708880278313535
f: 0.17529975558208558

Rouge-2:
r: 0.084141387155517
p: 0.049828140195253376
f: 0.05476935257107596

Rouge-l:
r: 0.20281402446814728
p: 0.14689885199961716
f: 0.15119108189843697